.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  gap: 1%;
}

.error {
  color: red;
  font-size: small;
}

.password-criteria-container {
  height: auto;
  width: auto;
  padding-right: 0.5rem;
  background-color: gainsboro;
  border: 1px solid gray;
  border-radius: 1rem;
}

.criteria {
  color: red;
}
